.site-navigation {
    background-color: #f8f9fa;
    /* border: 1px solid yellow; */
}

.container {
    /* border: 1px solid red; */
}

.site-content {
    /* border: 1px solid blue; */
}

[class*="col-"] {
    /* border: 1px solid green; */
}

.signUp {
    /* border: 1px solid magenta; */
    margin-right: 5px;
}

h5 {
    /* border: 1px solid cyan; */
    /* margin-bottom: 0px; */
}

.application-data {
    padding-top:11px !important;
}

.reminder-content {
    padding-top: 10px;
}

.auburnCenter {
    width: 250px;
    margin-top: 15px;
    border: 1px solid #757575;
}

.site-information {
    color: #333333;
}

.table {
    margin-bottom: 0px;
}



/* BUTTON STYLES */
.btn-bd-primary2 {
    background-color: red;
}

/* .btn-bd-primary {
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #2c882b;
    --bs-btn-border-color: #2c882b;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #287a27;
    --bs-btn-hover-border-color: #287a27;
    --bs-btn-active-color: aliceblue;
    --bs-btn-active-bg: #236d22;
    --bs-btn-active-border-color: #236d22;
}

.btn-bd-primary-inverse {
    --bs-btn-color: #2C882B;
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #287a27;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: #236d22;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}

.btn-bd-accent-blue {
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #418FDE;
    --bs-btn-border-color: #418FDE;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #3b81c8;
    --bs-btn-hover-border-color: #3b81c8;
    --bs-btn-active-color: aliceblue;
    --bs-btn-active-bg: #3472b2;
    --bs-btn-active-border-color: #3472b2;
  } */