.site-navigation {
    background-color: #f8f9fa;
    /* border: 1px solid yellow; */
}

.container {
    border: 1px solid red;
}

.site-content {
    /* border: 1px solid blue; */
}

[class*="col-"] {
    /* border: 1px solid green; */
}

.signUp {
    /* border: 1px solid magenta; */
    margin-right: 5px;
}

h5 {
    /* border: 1px solid cyan; */
    /* margin-bottom: 0px; */
}

.table {
    margin-top: -5px;
}

.application-data {
    padding-top:11px !important;
}

.reminder-content {
    border: 1px solid #dee2e6;
    margin-top: 12px;
    padding-top: 10px;  
}

.reminder-message {
    position: relative;
    top: 2px;
}

.more-opportunities {
    padding-top: 10px;
}

.auburnCenter {
    width: 250px;
    margin-top: 15px;
    border: 1px solid #757575;
}

.site-information {
    color: #333333;
}

.table {
    margin-bottom: 0px;
}



/* BUTTON STYLES */
/* Primary GRC GREEN */
.btn-bd-primary {
    background-color: #2c882b;
    color: aliceblue;
}

.btn-bd-primary:hover {
    background-color: #287a27;
    color: aliceblue;
}

.btn-bd-primary:active {
    border-color: #236d22 !important;
    background-color: #236d22 !important;
    color: aliceblue !important;
}
/* Primary GRC GREEN-inverse */
.btn-bd-primary-inverse {
    background-color: white;
    color: #2c882b;
}

.btn-bd-primary-inverse:hover {
    background-color: white;
    color: #287a27;
}

.btn-bd-primary-inverse:active {
    border-color: white !important;
    background-color: white !important;
    color: #236d22 !important;
}
/* Accent Sky Blue */
.btn-bd-accent-blue {
    background-color: #418FDE;
    color: aliceblue;
}

.btn-bd-accent-blue:hover {
    background-color: #3b81c8;
    color: aliceblue;
}

.btn-bd-accent-blue:active {
    border-color: #3472b2 !important;
    background-color: #3472b2 !important;
    color: aliceblue !important;
}

/* custom bootstrap sass styles */
/* .btn-bd-primary {
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #2c882b;
    --bs-btn-border-color: #2c882b;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #287a27;
    --bs-btn-hover-border-color: #287a27;
    --bs-btn-active-color: aliceblue;
    --bs-btn-active-bg: #236d22;
    --bs-btn-active-border-color: #236d22;
}

.btn-bd-primary-inverse {
    --bs-btn-color: #2C882B;
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #287a27;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: #236d22;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}

.btn-bd-accent-blue {
    --bs-btn-color: aliceblue;
    --bs-btn-bg: #418FDE;
    --bs-btn-border-color: #418FDE;
    --bs-btn-hover-color: aliceblue;
    --bs-btn-hover-bg: #3b81c8;
    --bs-btn-hover-border-color: #3b81c8;
    --bs-btn-active-color: aliceblue;
    --bs-btn-active-bg: #3472b2;
    --bs-btn-active-border-color: #3472b2;
  } */