.site-navigation {
    background-color: #f8f9fa;
    border: 1px solid yellow;
}

.container {
    border: 1px solid red;
}

.site-content {
    border: 1px solid blue;
}

[class*="col-"] {
    border: 1px solid green;
}

.signUp {
    border: 1px solid magenta;
    /* margin-right: 5px; */
}

h5 {
    border: 1px solid cyan;
    margin-bottom: 0px;
}